<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fixed Menu List</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script>
function cartOperation(cartItemId, type){
	//alert(cartItemId+" : "+type);
	document.getElementById('cartItemId').value=cartItemId;
	document.getElementById('type').value=type;
	document.getElementById('cartUpdateForm').submit();
}
</script>
</head>
<body>
<div th:include="header :: header-nav"></div>

<div th:if="${allOrderList != null}" class="container-fluid">
	<div class="col-md-12">
		<div class="col-md-1">
			Item No.
		</div>
		<div class="col-md-2">
			Order Date
		</div>
		<div class="col-md-2">
			Order Status
		</div>
		<div class="col-md-7">
			Links
		</div>
	</div>
	<hr />
	<div th:each="order,start : ${allOrderList}" class="col-md-12" style="margin-top: 25px;">
		<div class="col-md-1" th:text="${start.count}">
			Item No.
		</div>
		<div class="col-md-2" th:text="${order.orderDate}">
			Order Date
		</div>
		<div class="col-md-2" th:text="${order.orderStatus.status}">
			Order Status
		</div>
		<div class="col-md-7">
			<a href="#" th:if="${order.orderStatus.orderStatusId == 2}">Cancel</a>
		</div>
	</div>
</div>
<div th:if="${unOrderedOrder != null}" class="container-fluid">

	<div>
		<div class="col-md-8">
			Item Information
		</div>
		<div class="col-md-2">
			Qty.
		</div>
		<div class="col-md-1">
			Price
		</div>
		<div class="col-md-1">
			Total
		</div>
	</div>
	<hr />
	<div th:each="cartItem,start : ${unOrderedOrder.cartItems}" class="col-md-12" style="margin-top: 25px;">
		<div class="col-md-12">
			<div class="col-md-8">
				<div th:if="${cartItem.menuId.fixedMenuItemObj != null}" th:utext="${cartItem.menuId.fixedMenuItemObj.fixedMenuDescription}">
					Item Information
					Item Type: Fixed Item
				</div>
				<div th:if="${cartItem.menuId.customMenuItemObj != null}">
					<div th:utext="${cartItem.menuId.customMenuItemObj.customizationDescription}">
						Item Information
						Item Type: Fixed Item
					</div>
					<div th:if="${cartItem.customCartItemSelections != null}" class="col-md-6">
						<div th:each="cartItemSelections,start1 : ${cartItem.customCartItemSelections}">
							<div class="col-md-6" th:text="${cartItemSelections.refSelectionBaseItem.itemName}">Sub Item</div>
							<div class="col-md-6" th:text="${'$ '+cartItemSelections.price}">Price</div>
						</div>
					</div>
				</div>
				<div>
					<a th:onclick="'cartOperation(\''+${cartItem.cartItemId}+'\',\'DELETE\');'" class="btn">Delete</a>
				</div>
			</div>
			<div class="col-md-2">
				<a th:onclick="'cartOperation(\''+${cartItem.cartItemId}+'\',\'ADD\');'" class="btn"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>
				&nbsp;&nbsp;&nbsp;
				<span th:text="${cartItem.quantity}">0</span>
				&nbsp;&nbsp;&nbsp;
				<a th:onclick="'cartOperation(\''+${cartItem.cartItemId}+'\',\'REMOVE\');'" class="btn" th:if="${cartItem.quantity > 1}"><i class="glyphicon glyphicon-minus" aria-hidden="true"></i></a>
			</div>
			<div class="col-md-1" th:text="${'$ '+cartItem.price}">
				Price Amount
			</div>
			<div class="col-md-1" th:text="${'$ '+(cartItem.price * cartItem.quantity)}">
				Price Amount
			</div>
		</div>
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-8">&nbsp;</div>
		<div class="col-md-2">
			<b>Sub Total : <span th:text="${'$ '+grandTotalPrice}">Price</span></b>
		</div>
		<div class="col-md-2">
			<button class="btn btn-primary">Place Order</button>
		</div>
	</div>
</div>
<div>
	&nbsp;
</div>
<form id="cartUpdateForm" 
		th:action="@{/cartItemAddRemoveDelete}"
		th:method="post">
	<input type="hidden" id="cartItemId" name="cartItemId" />
	<input type="hidden" id="type" name="type" />
</form>
</body>
</html>