<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Menu Generator</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src='@{/tinymce/tinymce.min.js}'></script>
<script type="text/javascript">
	tinymce.init({
		selector: 'textarea',
		toolbar1: "bold italic underline"
	});
</script>
</head>
<body>
	<form autocomplete="off" action="#" th:action="@{/admin/menuCreate}"
						th:object="${menuGenerate}" method="post" class="form-inline">
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="margin-top: 10px;">
				<div class="panel panel-default">
					<div class="panel-heading" style="text-align: center">Create Menu Item and Price details for the same</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div class="col-md-8">
								<input type="hidden" th:field="*{menuId}" ></input>
								<input type="text" th:field="*{menuName}" th:label="menuNameLabel" placeholder="Provide Menu Name"
										class="form-control" style="width:100%"/>
							</div>
							<div class="col-md-4">
								<ul style="list-style-type: none;">
								  <li th:each="mtl : ${menuTypeList}">
								    <input type="radio" th:field="*{menuType}" th:value="${mtl.menuTypeId}" />
								    <label th:for="${#ids.prev('menuType')}" th:text="${mtl.menuTypeName}" >Wireframe</label>
								  </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12" th:if="*{menuType}" th:switch="*{menuType.menuTypeId}">
				<div class="panel panel-default" th:case="1">
					<div class="panel-heading" style="text-align: center">Fill up Fixed Menu Item Details</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div class="col-md-8">
								<input type="hidden" th:field="*{fixedMenuItemObj.fixedMenuItemsId}" ></input>
								<textarea rows="4" 
									cols="100%" 
									th:field="*{fixedMenuItemObj.fixedMenuDescription}" 
									placeholder="Fill complete Fixed manu display description"
									class="form-control"></textarea>
								
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default" th:case="2">
					<div class="panel-heading" style="text-align: center">Fill up Customized Menu Item Details</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div class="col-md-8">
								<textarea rows="4" 
									cols="100%" 
									th:field="*{fixedMenuItemObj.fixedMenuDescription}" 
									placeholder="Fill complete Fixed manu display description"
									class="form-control"></textarea>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div align="center">
					<div class="col-md-offset-5 col-md-2">
						<input type="submit" value="Save" class="btn btn-default">
						<input type="reset" value="Reset" class="btn btn-default">
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
</body>
</html>